{% extends "base.html" %} {% block content %}
    {% load static %}


    <div class="container" style="width: 100%; margin:0 auto;">

        {% if post_type %}
            <h3>Search Posts Under '{{ post_type.name }}'</h3>
            <br/><br/><br/>
            <form id="searchpost" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col">
                        <input class="form-control" value="Post Name" disabled>
                    </div>
                    <div class="col-2">
                        <select class="dt_fieldtype mdb-select md-form form-control"
                                name="searchCriteria"
                                onchange="onSearchCriteria(this)">
                            <option value="EQ" selected>Equals To</option>
                            <option value="CS">Contains</option>
                            <option value="GT">Greater Than</option>
                            <option value="GE">Greater Than and Equals To</option>
                            <option value="LT">Little Than</option>
                            <option value="LE">Little Than and Equals To</option>
                            <option value="BT">Between</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input id="name1" class="form-control">
                    </div>
                    <div class="col-4">
                        <input id="name2" class="form-control">
                    </div>

                </div>

                <div class="form-row">
                    <div class="col">
                        <input class="form-control" value="Post Description" disabled>
                    </div>
                    <div class="col-2">
                        <select class="dt_fieldtype mdb-select md-form form-control"
                                name="searchCriteria"
                                onchange="onSearchCriteria(this)">
                            <option value="EQ" selected>Equals To</option>
                            <option value="CS">Contains</option>
                            <option value="GT">Greater Than</option>
                            <option value="GE">Greater Than and Equals To</option>
                            <option value="LT">Little Than</option>
                            <option value="LE">Little Than and Equals To</option>
                            <option value="BT">Between</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input id="description1" class="form-control">
                    </div>
                    <div class="col-4">
                        <input id="description2" class="form-control">
                    </div>

                </div>


                {% for key, value in form_fields.items %}
                    {% for key2, value2 in value.items %}
                        <div class="form-row">
                            <div class="col">
                                <input class="form-control" value="{{ value2.fieldlabel }}" disabled>
                            </div>
                            <div class="col-2">
                                <select class="dt_fieldtype mdb-select md-form form-control"
                                        name="searchCriteria"
                                        onchange="onSearchCriteria(this)">
                                    <option value="EQ" selected>Equals To</option>
                                    <option value="CS">Contains</option>
                                    <option value="GT">Greater Than</option>
                                    <option value="GE">Greater Than and Equals To</option>
                                    <option value="LT">Little Than</option>
                                    <option value="LE">Little Than and Equals To</option>
                                    <option value="BT">Between</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <!-- "TE">Text field -->
                                {% if value2.fieldtype == "TE" %}
                                    <input type="text" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="Enter {{ value2.fieldlabel }}" name="{{ value2.fieldlabel }}">

                                    <!-- "TA">Text area -->
                                {% elif value2.fieldtype == "TA" %}
                                    <textarea class="form-control" id="{{ value2.fieldlabel }}"
                                              placeholder="{{ value2.fieldlabel }}" rows="5"
                                              name="{{ value2.fieldlabel }}"></textarea>

                                    <!-- "DA">Date -->
                                {% elif value2.fieldtype == "DA" %}
                                    <input type="date" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">

                                    <!-- "TI">Time -->
                                {% elif value2.fieldtype == "TI" %}
                                    <input type="time" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">

                                    <!-- "IN">Integer -->
                                {% elif value2.fieldtype == "IN" %}
                                    <input type="number" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">

                                    <!-- "DE">Decimal -->
                                {% elif value2.fieldtype == "DE" %}
                                    <input type="number" step=0.01 class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">
                                {% endif %}

                            </div>
                            <div class="col-4">
                                <!-- "TE">Text field -->
                                {% if value2.fieldtype == "TE" %}
                                    <input type="text" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="Enter {{ value2.fieldlabel }}" name="{{ value2.fieldlabel }}">

                                    <!-- "TA">Text area -->
                                {% elif value2.fieldtype == "TA" %}
                                    <textarea class="form-control" id="{{ value2.fieldlabel }}"
                                              placeholder="{{ value2.fieldlabel }}" rows="5"
                                              name="{{ value2.fieldlabel }}"></textarea>

                                    <!-- "DA">Date -->
                                {% elif value2.fieldtype == "DA" %}
                                    <input type="date" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">

                                    <!-- "TI">Time -->
                                {% elif value2.fieldtype == "TI" %}
                                    <input type="time" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">

                                    <!-- "IN">Integer -->
                                {% elif value2.fieldtype == "IN" %}
                                    <input type="number" class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">

                                    <!-- "DE">Decimal -->
                                {% elif value2.fieldtype == "DE" %}
                                    <input type="number" step=0.01 class="form-control" id="{{ value2.fieldlabel }}"
                                           aria-describedby="{{ value2.fieldlabel }}"
                                           placeholder="{{ value2.fieldlabel }}"
                                           name="{{ value2.fieldlabel }}">
                                {% endif %}
                            </div>

                        </div>
                    {% endfor %}
                {% endfor %}


                <div class="input-group-btn">
                    <button type="submit" class="btn btn-outline-success" id="searchAdvanced">Search
                    </button>
                    <button class="btn btn-outline-danger" name="cancel" value="cancel"
                            style="margin-left: 10px;">
                        Cancel
                    </button>
                </div>
            </form>

        {% endif %}
        <br/><br/><br/><br/><br/>
    </div>
{% endblock content %}