{% extends "base.html" %} {% block content %}
<div class="container" style="width: 800px; margin:0 auto;">
    <h3>Create a new community</h3>
    {% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}
    <br />
    <!--    FORM -->
    <form action="{% url 'community:create_community'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="CommunityName">Country:</label>
            <select name="country" size="1" onchange="set_city_state(this,city)">
                <option value="" selected="selected">SELECT COUNTRY</option>
                <option value=""></option>
                <script type="text/javascript">
                    setRegions(this);
                </script>
            </select>
            &nbsp;&nbsp;
            <label for="CommunityName">City:</label>
            <select name="city" size="1" disabled="disabled" onchange="print_city_state(country,this)"></select>
        </div>
        <div class="form-group">
            <label for="CommunityName">Community Name</label>
            {% if community_name %}
            <input type="text" class="form-control" id="CommunityName" aria-describedby="CommunityName"
                placeholder="Enter community name" value="{{community_name}}" name="name">
            {% else %}
            <input type="text" class="form-control" id="CommunityName" aria-describedby="CommunityName"
                placeholder="Enter community name" name="name">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="CommunityDescription">Description</label>
            {% if description %}
            <textarea class="form-control" id="CommunityDescription" placeholder="Briefly describe your community"
                rows="5" name="description">{{description}}</textarea>
            {% else %}
            <textarea class="form-control" id="CommunityDescription" placeholder="Briefly describe your community"
                rows="5" name="description"></textarea>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="CommunityDescription">Tags</label>
            <input type="text" class="form-control" data-role="tagsinput" name="tags" />
        </div>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-outline-success">Create Community</button>
            <button class="btn btn-outline-danger" type="submit" name="cancel" value="cancel"
                style="margin-left: 10px;">Cancel</button>
        </div>
    </form>
    <!--    FORM -->
    <br /><br /><br /><br /><br />
</div>
{% endblock content %}