{% extends "base.html" %}{% block content %}
    {% load static %}

    <script src="{% static 'controller/Post.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        button.reportPostBtn { background:none;border:none; }
    </style>

    <!-- Annotate Modal -->
    <div class="modal fade" id="annotateModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="width: 500px;">
                <div class="modal-header">
                    <h4 class="modal-title">Add an Annotation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'community:annotate' post.id %}" method="post"
                        novalidate>
                        {% csrf_token %}
                        <textarea class="form-control" id="AnnotationBody"
                              placeholder="Write some information"
                              rows="5" name="annotation_body"></textarea>
                        <input type="hidden" id="selectorValue" name="selectorValue" value="something">
                        <input type="hidden" id="targetSource" name="targetSource" value="something">
                        <input type="hidden" id="user" name="user" value={{ user.user }}>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark">Annotate</button>
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Annotate Modal -->



    <div class="container">
        <div class="row" id="post_detail">
            <div class="col-md-4 order-md-2 mb-4">
                <form class="card p-2">
                    <div class="input-group-btn">
                        {% if user.user %}
                            {% if user.user == post.user_id %}
                                <!-- <button type="button" class="btn btn-success" style="width: 100%; margin: 5px"
                                    data-toggle="modal" data-target="#myModal">
                                    Edit Post
                                </button> -->
                                {% if post.active == True %}
                                    <button type="button" class="btn btn-danger" style="width: 100%; margin: 5px"
                                        data-toggle="modal" data-target="#archivePostModal">

                                        Archive Post
                                    </button>
                                {% elif post.active == False %}
                                    <button type="button" class="btn btn-danger" style="width: 100%; margin: 5px"
                                        data-toggle="modal" data-target="#unarchivePostModal">
                                        Unarchive Post
                                    </button>
                                {% endif %}

                            {% endif %}
                            <button type="button" class="btn btn-primary" id="showAnnoBtn" style="width: 100%; margin: 5px"
                                        onclick="showAnnotations()">
                                    Show Annotations
                                </button>

                                 <button type="button" class="btn btn-light" id="hideAnno" style="width: 100%; margin: 5px; visibility:hidden"
                                        onclick="hideAnnotations()">
                                    Hide Annotations
                                </button>
                        {% endif %}
                    </div>
                </form>
            <br/><br/>
            <div class="p-4 mb-3 bg-light rounded" id="showAnno" style="visibility: hidden">
                    <h4 class="font-italic">Annotations</h4>
                    <br/>
                </div>
            </div>
            <div class="col-md-8 order-md-1">
                <h3>{{ post.name }}</h3>
                {% if user.user %}
                    <h8><a href="">{{ post.user_id }}</a>, {{ post.creation_date }}</h8>
                    {% if post.active == true %}
                        <h9 style="float: right;">
                            <a href="{% url 'community:report_post' post.id %}"><i class="far fa-flag" style="color: gray;">Report Post</i></a>
                        </h9>
                    {% endif %}
                {% else %}
                    <h8>{{ post.creation_date }}</h8>
                {% endif %}                
                <br/>
                <hr style="border: 1px solid gray;" />
                {% if post.active == False %}
                <h9 style="color: #ff0000;"><i>Since this post is archived, no action can be taken on it.</i></h9>
            {% endif %}
                <br/>
                <br/>
            <form id="postdetail" method="POST" action="{% url 'community:create_comment' post.id %}">
            {% csrf_token %}
                    {% if post_type.name == "Generic Post Type" %}
                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label"><b>Name</b></label>
                            <label class="col-sm-10 control-label">{{ post.name}}</label>
                        </div>
                        <div class="form-group">
                            <label for="PostDescription"><b>Description</b></label>
                            <label class="col-sm-10 control-label">{{ post.description }}</label>
                        </div>
                    {% elif post_type.name == "Generic Post Type for Complaints" %}
                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label"><b>Status</b></label>
                            <select id="fieldTypeSelect1" class="dt_fieldtype mdb-select md-form form-control" name="dt_fieldtype" disabled=true>
                                <option value="TE">Open</option>
                                <option value="TA">In Progress</option>
                                <option value="DA">Closed</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label"><b>Name</b></label>
                            <label for="PostName" class="col-sm-10 control-label">{{ post.name}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b>Description</b></label>
                            <label class="col-sm-10 control-label">{{ post.description }}</label>
                        </div>
                    {% else %}
                        {% if post_type.complaint == True %}
                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label"><b>Status</b></label>
                            <select id="fieldTypeSelect1" class="dt_fieldtype mdb-select md-form form-control" name="dt_fieldtype" disabled=true>
                                <option value="TE">Open</option>
                                <option value="TA">In Progress</option>
                                <option value="DA">Closed</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label"><b>Name</b></label>
                            <label for="PostName" class="col-sm-10 control-label">{{ post.name}}</label>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label"><b>Description</b></label>
                            <label class="col-sm-10 control-label">{{ post.description }}</label>
                        </div>
                        
                        <!--Generate form from JSON field-->
                        {% for key2, value2 in form_fields.items %}
                            <div class="form-group" style="display: flex">
                                <label class="col-sm-2 control-label"><b>{{ value2.fieldlabel }}</b></label>
    
                                <!-- "TE">Text field -->
                                {% if value2.fieldtype == "TE" %}
                                <label class="col-sm-10 control-label">{{ value2.fieldValue }}</label>
        
                                <!-- "TA">Text area -->
                                {% elif value2.fieldtype == "TA" %}
                                <label class="col-sm-10 control-label">{{ value2.fieldValue }}</label>
        
                                <!-- "DA">Date -->
                                {% elif value2.fieldtype == "DA" %}
                                <label class="col-sm-10 control-label">{{ value2.fieldValue }}</label>
        
                                <!-- "TI">Time -->
                                {% elif value2.fieldtype == "TI" %}
                                <label class="col-sm-10 control-label">{{ value2.fieldValue }}</label>

                                <!-- "IN">Integer -->
                                {% elif value2.fieldtype == "IN" %}
                                <label class="col-sm-10 control-label">{{ value2.fieldValue }}</label>
        
                                <!-- "DE">Decimal -->
                                {% elif value2.fieldtype == "DE" %}
                                <label class="col-sm-10 control-label">{{ value2.fieldValue }}</label>
    
                                <!-- "IM">Image -->
                                {% elif value2.fieldtype == "IM" %}
                                    {% if value2.fieldValue %}
                                        <img src="{{ value2.fieldValue }}" height="550px" width="800px">
                                    {% else %}
                                        <label class="col-sm-10 control-label"><i>No content.</i></label>
                                    {% endif %}

                                <!-- "VI">Video -->
                                {% elif value2.fieldtype == "VI" %}
                                    {% if value2.fieldValue %}
                                        <video width="320" height="240" controls>
                                            <source src="{{ value2.fieldValue }}" type="video/mp4">
                                        </video>
                                    {% else %}
                                        <label class="col-sm-10 control-label"><i>No content.</i></label>
                                    {% endif %}

        
                                <!-- "AU">Audio -->
                                {% elif value2.fieldtype == "AU" %}
                                    {% if value2.fieldValue %}
                                        <audio controls>
                                            <source src="{{ value2.fieldValue }}" type="audio/mpeg">
                                        </audio>
                                    {% else %}
                                        <label class="col-sm-10 control-label"><i>No content.</i></label>
                                    {% endif %}

                                <!-- "UR">URI -->
                                {% elif value2.fieldtype == "UR" %}
                                <a href="{{ value2.fieldValue }}" target="_blank">{{ value2.fieldValue }}</a>

                                <!-- "LO">Location -->
                                {% elif value2.fieldtype == "LO" %}
                                <div id="map" style="width: 760px; height: 350px;"></div>
                                <script>
                                    // initialize Leaflet
                                    var map = L.map('map').setView({lon: 28.98, lat: 41.06}, 10);
        
                                    // add the OpenStreetMap tiles
                                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        maxZoom: 19,
                                        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
                                    }).addTo(map);
        
                                    // show the scale bar on the lower left corner
                                    L.control.scale().addTo(map);
                                </script> 
                                {% for key, location in value2.fieldValue.items %}
                                <script>
                                    var marker = L.marker({
                                               lon: "{{ location.lon }}",
                                               lat: "{{ location.lat }}"
                                           }).addTo(map);
                                </script>
                               {% endfor %} 
                         

                                <!-- "EN">Enumerated -->
                                {% elif value2.fieldtype == "EN" %}
                                <label class="col-sm-10 control-label">{{ value2.fieldValue }}</label>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <br/>
                    <br/>              
                    <div class="form-group">
                        <label for="CommunityTag">Tags</label>
                        <ul>
                        {% for tag in post.tags.tags %}
                            <li>
                                <a href="{{ tag.url }}">{{ tag.label }} : {{ tag.description }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <!-- COMMENTS -->
                    <h5><i>Comments</i></h5>
                    <hr style="border: 0.5px solid gray;" />
                    {% if comments%}                       
                        {% for comment in comments %}
                        <div class="form-check">
                            <label>({{ comment.creation_date}}) <b>{{ comment.user_id.username }}</b> said: </label>
                            <label>{{ comment.comment_body }}</label>
                        </div>
                        {% endfor %}
                    {% else %}
                    <label><i>There is no comment yet.</i></label>
                    {% endif %}
                    <br/>
                    <br/>
                    <br/>

                    {% if post.active == True %}
                        <!-- COMMENTBOX -->
                        {% if user.user %}
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Write your comment here!" rows="5" name="commentbox"></textarea>
                            <br>
                            <button type="submit" class="btn btn-outline-primary"  style="float: right;">Send Comment</button>
                        </div>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Attention!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to archive this post ?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                onclick="">Yes
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

         <!-- The Modal -->
         <div class="modal" id="archivePostModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Attention!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to archive this post ?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                        onclick="location.href='{% url 'community:archive_post' post.id %}'">Yes
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
        <br/><br/><br/><br/><br/>


        

    </div>

    <script>

        var selection;
        var selRange;
        var selectedText;
        var selectorValue;

        document.addEventListener("selectionchange", function () {
            selection = window.getSelection();

            selRange = selection.getRangeAt(0);

            selectedText = selection.toString();

            selectorValue = selectedText;


            if(selRange.startOffset - selRange.endOffset !== 0){
                document.getElementById("annotate-text").style.visibility = "visible";
                document.getElementById("selectorValue").value = selectorValue;
                document.getElementById("targetSource").value = window.location.href;
            }
            else{
                document.getElementById("annotate-text").style.visibility = "hidden";
            }
        });
    </script>
    <script>
function showAnnotations() {
    var annos_div = document.getElementById("showAnno");
    var page = window.location.href;

    var url = `https://swe574-278917.appspot.com/annotations?page=${page}`;
    console.log(url);

    fetch(url)
      .then(response => response.json())
      .then(response => {
        console.log(response)
        var annos = response.annotations;

        for (var i = 0; i < annos.length; i++){
            var source = document.createElement("p");
            source.innerHTML = "\"" + annos[i].target.selector.value + "\"";
            source.style.fontWeight = 500;
            annos_div.append(source);

            var body = document.createElement("p");
            body.innerHTML = annos[i].body.value;
            annos_div.append(body);

            var user_date = document.createElement("p");
            user_date.innerHTML = annos[i].creator.bold() + "    " + annos[i].created.substring(0, 10).italics();
            annos_div.append(user_date);

            var blank = document.createElement("br");
            annos_div.append(blank);
            annos_div.append(blank);
            annos_div.append(blank);
          }
      });


   /* var xhttp = new XMLHttpRequest();
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader('Content-type', 'application/json');
xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       // Typical action to be performed when the document is ready:
       var response = JSON.parse(xhttp.responseText);
       console.log(response)
       var annos = response.annotations;

        for (var i = 0; i < annos.length; i++){
            var source = document.createElement("p");
            source.innerHTML = annos[i].target.selector.value;
            annos.append(source);
          }

    }
};*/

//xhttp.send();

    annos_div.style.visibility = "visible";

    var hide_button = document.getElementById("hideAnno");
    hide_button.style.visibility = "visible";
    var show_button = document.getElementById("showAnnoBtn");
    show_button.style.visibility = "hidden";
}
</script>
    <script>
    function hideAnnotations() {
        var annos_div = document.getElementById("showAnno");
        annos_div.style.visibility = "hidden";
        annos_div.innerHTML = "";
        var anno_header = document.createElement("h4");
        anno_header.innerHTML = "Annotations";
        anno_header.className = "font-italic";
        annos_div.append(anno_header);
        var blank = document.createElement("br");
        annos_div.append(blank);
        var hide_button = document.getElementById("hideAnno");
    hide_button.style.visibility = "hidden";
    var show_button = document.getElementById("showAnnoBtn");
    show_button.style.visibility = "visible";
    }
    </script>

{% endblock content %}