{% extends "base.html" %} {% block content %}
    {% load static %}

    <div class="container" style="width: 800px; margin:0 auto;">


        <div class="row mb-2">

            {% if communityPosts %}
                {% for post in communityPosts %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">{{ post.name }}</h3>
                                <div class="mb-1 text-muted">{{ post.creation_date }}</div>
                                <p class="card-text mb-auto">
                                    {{ post.description|truncatewords:15 }}
                                </p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            style="margin: 2px;">
                                        <a href="post_detail/{{ post.id }}"> View Detail </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <br/><br/><br/><br/><br/>
    </div>
{% endblock content %}