{% extends "base.html" %} {% block content %}
    {% load static %}

    <div class="container" style="width: 800px; margin:0 auto;">


        <div class="row mb-2">

            {% if communityPostTypes %}
                {% for PostType in communityPostTypes %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">{{ PostType.name }}</h3>
                                <div class="mb-1 text-muted">{{ PostType.creation_date }}</div>
                                <p class="card-text mb-auto">
                                    {{ PostType.description }}
                                </p>

                                <div class="btn-group">

                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            style="margin: 2px;"
                                            onclick="location.href='{% url 'community:post_type' PostType.id communityActive  %}'">
                                        {#                                        <a href="detail/{{ PostType.id }}"> #}
                                        View fields
                                    </button>

                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            style="margin: 2px;" {% if not communityActive == 'True' %}disabled{% endif %}
                                            onclick="location.href='{% url 'community:new_post' PostType.id %}'">
                                        Create post
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
        <br/><br/><br/><br/><br/>
    </div>
{% endblock content %}