{% extends "base.html" %} {% block content %}
    {% load static %}
    <script src="{% static 'controller/PostType.js' %}"></script>
    <div class="container" style="width: 800px; margin:0 auto;">
        {% if post_type %}
            <h3>Edit Post Type: "{{ post_type.name }}"</h3>
        {% else %}
            <h3>Create A Post Type For "{{ communityDetail.name }}" Community</h3>
        {% endif %}

        <br/>
        <script>
            var fieldJson = '{ "theFields" : [] }';

            var isEdit = false;

            var communityDataTypes = "{{ communityDataTypes|safe }}";
        </script>
        <!--    FORM -->
        <form id="createpost"  method="POST" action="{% url 'community:create_post_type' %}">
            {% csrf_token %}

            <input hidden value="" name="postTypeFields" id="postTypeFields">
            <input hidden value="{{ communityDetail.id }}" name="communityId" id="communityId">
            <input hidden value="" name="isUpdate" id="isUpdate">
            <div class="form-group">
                <label for="PostTypeName">Post Type Name</label>
                {% if post_type %}
                    <script>
                        isEdit = true;
                    </script>
                    <input type="text" class="form-control" id="PostTypeFields" hidden
                           value="{{ post_type.formfields }}" name="PostTypeFields">
                    <input type="text" class="form-control" id="PostTypeName" aria-describedby="PostTypeName"
                           value="{{ post_type.name }}" name="name">
                {% else %}
                    <input type="text" class="form-control" id="PostTypeName" aria-describedby="PostTypeName"
                           placeholder="Enter post type name" name="PostTypeName">
                {% endif %}


            </div>
            <div class="form-group">
                <label for="PostTypeDescription">Post Type Description</label>
                {% if post_type %}
                    <textarea class="form-control" id="PostTypeDescription"
                              rows="5" name="PostTypeDescription">{{ post_type.description }}</textarea>
                {% else %}
                    <textarea class="form-control" id="PostTypeDescription"
                              placeholder="Briefly describe your post type"
                              rows="5" name="PostTypeDescription"></textarea>
                {% endif %}

            </div>

            <div class="addfields">
                <table class="table" id="myTable">
                    <thead>
                    <tr>
                        <th scope="col" width="10%">Field Pos. No</th>
                        <th scope="col">Field Label</th>
                        <th scope="col">Field Type</th>
                        <th scope="col">Enumerated Values</th>
                        <th scope="col">Is Required?</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tableToModify">
                    <tr id="rowToClone_0">
                        <th scope="row">
                            <input type="text" class="dt_fieldposnr form-control"
                                   name="dt_fieldposnr">
                        </th>
                        <th scope="row">
                            <input type="text"  class="dt_fieldlabel form-control"
                                   name="dt_fieldlabel">
                        </th>
                        <td>
                            <select class="dt_fieldtype mdb-select md-form form-control" name="dt_fieldtype"
                                    onchange="onSelectFType(this)">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="TE">Text field</option>
                                <option value="TA">Text area</option>
                                <option value="DA">Date</option>
                                <option value="TI">Time</option>
                                <option value="IN">Integer</option>
                                <option value="DE">Decimal</option>
                                <option value="IM">Image</option>
                                <option value="VI">Video</option>
                                <option value="AU">Audio</option>
                                <option value="UR">URI</option>
                                <option value="LO">Location</option>
                                <option value="EN">Enumerated</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="enum_vals form-control "
                                   name="enum_vals" data-role="tagsinput" disabled>
                        </td>
                        <td>
                            <input type="checkbox" checked="true" data-toggle="toggle"
                                   data-style="ios"
                                   name="dt_fieldrequire"
                                   data-onstyle="success">
                        </td>
                        <td>
                            <button type="button" class="btn addDataField"
                                    id="addDataField"><span
                                    class="fa fa-plus"> </span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-outline-success" id="createPostType">Save</button>
                <button class="btn btn-outline-danger" type="submit" name="cancel" value="cancel"
                        style="margin-left: 10px;">Cancel
                </button>
            </div>
        </form>
        <!--    FORM -->
        <br/><br/><br/><br/><br/>
    </div>
{% endblock content %}