{% extends "base.html" %} {% block content %}
    {% load static %}

    <div class="container" style="width: 800px; margin:0 auto;">
        <h2>{{ userProfile }}</h2>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/communities/'>COMMUNITIES</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/posts/'>POSTS</a>
                <a class="p-2 text-muted" href="#">FOLLOWING</a>
                <a class="p-2 text-muted" href="#">FOLLOWERS</a>
            </nav>
        </div>
        <br/><br/><br/><br/><br/>
    </div>
{% endblock content %}