{% extends "base.html" %} {% block content %}
    {% load static %}

    <div class="container" style="width: 800px; margin:0 auto;">
        <h2>{{ userProfile }}</h2>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/activitystream/'>FEED</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/communities/'>COMMUNITIES</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/posts/'>POSTS</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/follows/'>FOLLOWING</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/followed/'>FOLLOWERS</a>
            </nav>
        </div>
        <div class="row mb-2">
            {% for post in userPosts %}
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">{{ post.name }}</h3>
                            <div class="mb-1 text-muted">{{ post.creation_date }}</div>
                            <p class="card-text mb-auto">
                                {{ post.description|truncatewords:15 }}
                            </p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                        style="margin: 2px;">
                                    <a href=' /communities/posts/post_detail/{{ post.id }}'> View Detail </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br/><br/><br/><br/><br/>
    </div>
{% endblock content %}