{% extends "base.html" %} {% block content %}
    {% block domready %}
        <script>
            $('a.follow').click(function (e) {
                e.preventDefault();
                $.post('{% url 'community:user_follow' %}',
                    {
                        id: $(this).data('id'),
                        action: $(this).data('action')
                    },
                    function (data) {
                        if (data['status'] == 'ok') {
                            var previous_action = $('a.follow').data('action');
                            // toggle data-action
                            $('a.follow').data('action',
                                previous_action == 'follow' ? 'unfollow' : 'follow');
                            // toggle link text
                            $('a.follow').text(
                                previous_action == 'follow' ? 'Unfollow' : 'Follow');
                            // update total followers
                            var previous_followers = parseInt(
                                $('span.count .total').text());
                            $('span.count .total').text(previous_action == 'follow' ?
                                previous_followers + 1 : previous_followers - 1);
                        }
                    }
                );
            });
        </script>
    {% endblock %}
    {% load static %}
    <div class="message-section" style="display:none;"></div>
    <div class="container" style="width: 800px; margin:0 auto;">
        <h2>{{ userProfile }}</h2>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/activitystream/'>FEED</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/communities/'>COMMUNITIES</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/posts/'>POSTS</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/follows/'>FOLLOWING</a>
                <a class="p-2 text-muted" href='/user_profile/{{ userProfile.id }}/followed/'>FOLLOWERS</a>
            </nav>
        </div>
        {% with total_followers=user.user.followers.count %}
            <span class="count">
                <span class="total">{{ total_followers }}</span>
                follower{{ total_followers|pluralize }}
            </span>
            <a href='/user_profile/{{ userProfile.id }}/' data-id="{{ userProfile.id }}"
               data-action="{% if user in user.user.followers.all %}un{% endif %}follow" class="follow button">
                {% if user not in user.user.followers.all %}
                    Follow
                {% else %}
                    Unfollow
                {% endif %}
            </a>
        {% endwith %}
        <div class="row mb-2">
            {% if activity_stream %}
                {% for Action in activity_stream %}
                    <div class="list-group">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <!-- Buraya tag yazabiliriz -->
                                <h4><a href="{{ Action.user.get_absolute_url }}"
                                       class="stretched-link">{{ Action.user }}</a> {{ Action.verb }} <a
                                        href="{{ Action.target }}" class="stretched-link">{{ Action.target }}</a></h4>
                                <div class="mb-1 text-muted">{{ Action.created }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <br/><br/><br/><br/><br/>
    </div>
{% endblock content %}